
nav 
{
    background-color: #554348;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 45px;
    text-align: center;
    margin: 10px;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

button {
    font-size: 35px;
    background-color: #cabac8;
    width: 480px;
}

p {
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 20px;
}

li {
    text-align: center;
    width: 50%;
    margin: 10px auto;
    font-size: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #4cb5ae;
}

.clubs {
    display: grid;
    grid-template-columns: auto auto;
}

h3 {
    font-size: 35px;
    text-align: center;
    margin: 10px;
}