* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #69835d;
}

nav {
    background-color: #554348;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 45px;
    text-align: center;
    margin: 10px;
    background-color: #2c6133;
    margin:auto; 
    width: 60%;
}

h3 {
    font-size: 35px;
    text-align: center;
    margin: 10px;
}

footer p{
    text-align: left;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
}

nav button {
    font-size: 35px;
    background-color: #cabac8;
    width: 625px;
}

.Main_body p{
    text-align: center;
    width: 60%;
    margin: auto;
    font-size: 20px;
    background-color: #2c6133;
}

h4 {
    text-align: center;
    width: 50%;
    margin: 10px auto;
    font-size: 25px;
}

.clubs {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2c6133;
    margin:auto; 
    width: 60%;
}

.ASNZ {
    display: block;
    text-align: center;
    font-size: 25px;
    margin: 20px auto;
    background-color: #2c6133;
    width: 200px;
    padding: 10px;
    text-decoration: none;
}

.Clubs_title {
    background-color: #2c6133;
    margin:auto; 
    width: 60%;
}

.Gear_Buttons {
    display: grid;
    grid-template-columns: auto auto;
}

.Gear_Buttons button {
    font-size: 50px;
    background-color: #cabac8;
    width: 600px;
    height: 200px;
    position: relative;
    top: -29.5%;
    left: 8.5%;
}

.Gear_Buttons img {
    position: relative;
    left: 9%;
    width: 200px;
    height: 200px;
}

h5 {
    text-align: center;
    font-size: 45px;
    margin: -20px 20px;
}
.Chest_rigs {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 275px;
    margin: 20px auto;
    position: relative;
    left: 7%;
    font-size: 20px;
}

.Rigs_Yap {
    text-align: center;
    font-size: 20px;
    width: 60%;
    position: relative;
    left: 20%;
}
.rig_card p{
    margin-top:8px;
    font-size:20px;
}

.Plate_Carriers {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    gap: 275px;
    margin: 20px auto;
    position: relative;
    left: 7%;
    font-size: 20px;
}

.Plate_card p{
    margin-top:8px;
    font-size:20px;
}

.References p {
    margin-top:8px;
    font-size:28px; 
    text-align: center;
}

.References li {
    margin-top:8px;
    font-size:20px; 
    text-align: center;
}